//@import 'utils.scss';
@import '../../../styles/utils.scss';


.footer{
  background: $oc-gray-7;
  height: 10rem;

  //내부 내용 가운데 정렬
  display: flex;
  align-items:center;
  justify-content: center;
  flex-direction: column; //flex 방향 : 위에서 아래로

  .brand{
    //Logo
    color: white;
    font-size: 2rem;
    font-weight: 600;

  }

  .admin-login{
    //login button
    margin-top: 0.5rem;
    font-weight: 600;
    font-size: 0.8rem;
    color: rgba(255,255,255,0.8);
    cursor: pointer; //손가락 모양 커서
    &:hover {  //remove 불투명도 when mouse is hovering
      color: white;
    }
  }
}
